header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
h1 {
    font-weight: bolder;
    font-size: 1.5em;
}
.content {
    max-width: 960px;
    margin: auto;
}
.flash {
    display:none;
    max-width: 400px;
    min-height: 170px;
    max-height: 170px;
    margin: auto;
    text-align: center;
    font-size: 2.2em;
    background-color: turquoise;
}
.flash li:first-child {
    display: none;    
    text-align: left;
}
.flash li:nth-child(2) {
    display: none;    
    position: relative;
    top: 50px;
    margin-left: -50px;
}
.flash li:nth-child(3) {
    display: none;
    position: relative;
    top: 100px;   
    text-align: right;
}
.flash li:nth-child(4) {
    display: none;
    position: relative;
    top: 40px;
    font-size: 2.4em;
}
.rps {
    max-width: 400px;
    min-height: 160px;
    margin: auto;
    background-color: turquoise;
}
.score {
    margin: 10px;
}
.status {
    min-height: 80px;
}
.rpsBtnGrp {
    width: 100%;
}
.rpsBtnGrp button {
    display: block;
    float: left;
    margin: 0;
    width: 33.33%;
}
.chatWrapper {
    max-width: 400px;
    margin: auto;
}
#chat {
    clear: both;
    height: 250px;
    /* makes the scroll bar stay at the bottom */
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    color: yellow;
}
#textInput {
    width: 80%;
}
#sysMsg {
    color: red;
    font-weight: 900;
}